<!--Test aplicados-->
<div class="container-fluid">
    <p class="app-top">Test aplicados que ya fueron contestados</p>
	<form action="/consultar_test" method="get" role="form" class="form-inline">
        <div class="form-group">
            <label>Filtrar test contestados</label>
        </div>
        <div class="form-group">
            <label>Día: </label>
            <%if(typeof(fecha) == 'undefined'){%>
                <input name="day" type="number" class="form-control" min="1" max="31" value="1" required>
                <%}else{%>
                    <input name="day" type="number" class="form-control" min="1" max="31" value="<%=fecha[2]%>" required>
                    <%}%>
        </div>
        <div class="form-group">
            <label>Mes:</label>
            <%if(typeof(fecha) == 'undefined'){%>
                <input name="month" type="number" class="form-control" min="1" max="12" value="1" required>
                <%}else{%>
                    <input name="month" type="number" class="form-control" min="1" max="12" value="<%=fecha[1]%>" required>
                    <%}%>
        </div>
        <div class="form-group">
            <label>Año:</label>
            <%if(typeof(fecha) == 'undefined'){%>
                <input name="year" type="number" class="form-control" min="2010" max="2050" value="2016" required>
                <%}else{%>
                    <input name="year" type="number" class="form-control" min="2010" max="2050" value="<%=fecha[0]%>" required>
                    <%}%>
        </div>
        <button type="submit " class="btn btn-default ">Filtrar</button>
    </form>
    <div class="container-fluid">
        <br>
        <% if(typeof(contestados) != 'undefined'){  %>
            <% for(i=0;i<contestados.length;i++){ %>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                   <%= contestados[i].Test %>
               </h2>
                    </div>
					<form action="/datos_usuario" method="post" role="form" id="form-datos">
                        <input type="hidden" name="usrname" value="<%=contestados[i].NombreUsuario%>">
                    </form>
                    <form role="form" action="/resultados" method="get" class="form">
                        <div class="panel-body row">
                            <div class="col-sm-1 col-md-1 col-lg-1">
                                <i class="glyphicon glyphicon-file app-test"></i>
                            </div>
                            <div class="col-sm-11 col-md-11 col-lg-11">
                                <span><strong>Número de folio del resultado: </strong><%= contestados[i].Folio%></span>
                                <input type="hidden" value="<%=contestados[i].Folio%>" name="folio">
                                <br>
                                <span><strong>Aplicado a: </strong><%= contestados[i].Nombre + ' ' + contestados[i].Apellidos %></span>
                                <br>
                                <span><strong>Fecha de aplicación: </strong><%= contestados[i].Fecha %></span>
                                <br>
                                <span><strong>Fecha de contestación: </strong><%= contestados[i].FechaContestado %></span>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-primary" type="submit">
                                Mostrar resultados
                            </button>
							<button class="btn btn-info" type="submit" form="form-datos">
                                Mostrar datos del usuario
                            </button>
                        </div>
                    </form>
                </div>
                <% } %>
                    <% } else{ %>
                        <div class="alert alert-info">No se encontraron test aplicados para el día
                            <%=fecha[2] + '/' + fecha[1] + '/' + fecha[0]%>. Puedes aplicar un nuevo test o esperar a que te manden solicitudes para aplicar un nuevo test.</div>
                        <%}%>
    </div>
</div>

<!--Test que no han sido contestados-->
<div class="container-fluid">
    <p class="app-top">Test que no han sido contestados</p>
    <div class="container-fluid">
        <br>
        <% if(typeof(pendientes) != 'undefined'){  %>
            <% for(i=0;i<pendientes.length;i++){ %>
                <form action="/contestartest" role="form" method="post" class="form-inline">
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <%= pendientes[i].Test %>






            <input type="hidden" class="form-control input-personalizado" name="test" value="<%= pendientes[i].Test %>">
            <input type="hidden" class="form-control input-personalizado" name="fechaAplicacion" value="<%= pendientes[i].Fecha %>">
            <input type="hidden" class="form-control input-personalizado" name="username" value="<%= pendientes[i].Username %>">
                            </h2>
                        </div>
                        <div class="panel-body row">
                            <div class="col-sm-1 col-md-1 col-lg-1">
                                <i class="glyphicon glyphicon-file app-test"></i>
                            </div>
                            <div class="col-sm-11 col-md-11 col-lg-11">
                                <span><strong>Aplicado a: </strong><%= pendientes[i].Nombre + ' ' + pendientes[i].Apellidos %></span>

                                <br>
                                <span><strong>Fecha de aplicación: </strong><%= pendientes[i].Fecha %></span>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <% if(pendientes[i].Test == 'MINI PLUS'){  %>
                                    <div class="col-sm-2 col-md-1 col-lg-1">
                                        <button class="btn btn-primary" type="submit">Contestar</button>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>

                </form>
                <% } %>
                    <% }else { %>
                        <div class="alert alert-info">No hay test en espera a ser contestados por los usuarios.</div>
                        <%}%>
    </div>
</div>