<!DOCTYPE html>
<html>
	<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
	<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
	<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
	<!--[if gt IE 8]><!-->
	<html class="no-js" lang="">
	<!--<![endif]-->
	<head>
	    <% include partials/head.ejs %>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	    <script type="text/javascript" src="js/jQueryMain.js"></script>
		<script type="text/javascript">
				
		</script>
		
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/modernizr.custom.js"></script>
		<link rel="shortcut icon" href="../favicon.ico"> 
	</head>

	<body>
	    <!--[if lt IE 8]>
	            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	            <![endif]-->
		<div id="tabs">	
			<ul id="gn-menu" class="gn-menu-main">
				<li class="gn-trigger">
					<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
								<li><a id="moduloA" class="gn-icon  gn-icon-article" onclick = "changeColorA(this);" 
								onmouseover = "fondo(this);" onmouseout = "fondo2(this);">Modulo A</a></li>
								
								<li><a id="moduloB" class="gn-icon  gn-icon-article" onclick = "changeColorB(this);" 
								onmouseover = "fondo(this);" onmouseout = "fondo2(this);">Modulo B</a></li>
								
								
								<li><a id="moduloC" class="gn-icon  gn-icon-article" onclick = "changeColorC(this);" 
								onmouseover = "fondo(this);" onmouseout = "fondo2(this);">Modulo C</a></li>
								
								<li><a id="moduloD" class="gn-icon  gn-icon-archive" onclick = "changeColorD(this);" 
								onmouseover = "fondo(this);" onmouseout = "fondo2(this);">Modulo D</a></li>
								
								<li><a id="moduloE" class="gn-icon  gn-icon-article" onclick = "changeColorE(this);" 
								onmouseover = "fondo(this);" onmouseout = "fondo2(this);">Modulo E</a></li>
								
								<li><a id="moduloF" class="gn-icon  gn-icon-article" onclick = "changeColorF(this);" 
								onmouseover = "fondo(this);" onmouseout = "fondo2(this);">Modulo F</a></li>
								
								<li><a id="moduloG" class="gn-icon  gn-icon-article" onclick = "changeColorG(this);" 
								onmouseover = "fondo(this);" onmouseout = "fondo2(this);">Modulo G</a></li>
								
								<li><a id="moduloH" class="gn-icon  gn-icon-article" onclick = "changeColorH(this);" 
								onmouseover = "fondo(this);" onmouseout = "fondo2(this);">Modulo H</a></li>
								
								<li><a id="moduloI" class="gn-icon  gn-icon-article" onclick = "changeColorI(this);" 
								onmouseover = "fondo(this);" onmouseout = "fondo2(this);">Modulo I</a></li>
								
								<li><a id="moduloJ" class="gn-icon  gn-icon-article" onclick = "changeColorJ(this);" 
								onmouseover = "fondo(this);" onmouseout = "fondo2(this);">Modulo J</a></li>
								
								<li><a id="moduloK" class="gn-icon  gn-icon-article" onclick = "changeColorK(this);" 
								onmouseover = "fondo(this);" onmouseout = "fondo2(this);">Modulo K</a></li>
								
								<li><a id="moduloL" class="gn-icon  gn-icon-article" onclick = "changeColorL(this);" 
								onmouseover = "fondo(this);" onmouseout = "fondo2(this);">Modulo L</a></li>
								
								<li><a id="moduloM" class="gn-icon  gn-icon-article" onclick = "changeColorM(this);" 
								onmouseover = "fondo(this);" onmouseout = "fondo2(this);">Modulo M</a></li>
								
								<li><a id="moduloN" class="gn-icon  gn-icon-article" onclick = "changeColorN(this);" 
								onmouseover = "fondo(this);" onmouseout = "fondo2(this);">Modulo N</a></li>
								
								<li><a id="moduloO" class="gn-icon  gn-icon-article" onclick = "changeColorO(this);" 
								onmouseover = "fondo(this);" onmouseout = "fondo2(this);">Modulo O</a></li>
								
								<li><a id="moduloP" class="gn-icon  gn-icon-article" onclick = "changeColorP(this);" 
								onmouseover = "fondo(this);" onmouseout = "fondo2(this);">Modulo P</a></li>
								
								<li><a id="moduloQ" class="gn-icon  gn-icon-article" onclick = "changeColorQ(this);" 
								onmouseover = "fondo(this);" onmouseout = "fondo2(this);">Modulo Q</a></li>
								
								<li><a id="moduloR" class="gn-icon  gn-icon-article" onclick = "changeColorR(this);" 
								onmouseover = "fondo(this);" onmouseout = "fondo2(this);">Modulo R</a></li>
								
								<li><a id="moduloS" class="gn-icon  gn-icon-article" onclick = "changeColorS(this);" 
								onmouseover = "fondo(this);" onmouseout = "fondo2(this);">Modulo S</a></li>
								
								<li><a id="moduloT" class="gn-icon  gn-icon-article" onclick = "changeColorT(this);" 
								onmouseover = "fondo(this);" onmouseout = "fondo2(this);">Modulo T</a></li>
								
								<li><a id="moduloU" class="gn-icon  gn-icon-article" onclick = "changeColorU(this);" 
								onmouseover = "fondo(this);" onmouseout = "fondo2(this);">Modulo U</a></li>
								
								<li><a id="moduloV" class="gn-icon  gn-icon-article" onclick = "changeColorV(this);" 
								onmouseover = "fondo(this);" onmouseout = "fondo2(this);">Modulo V</a></li>
								
								<li><a id="moduloW" class="gn-icon  gn-icon-article" onclick = "changeColorW(this);" 
								onmouseover = "fondo(this);" onmouseout = "fondo2(this);">Modulo W</a></li>
								
								<li><a id="moduloX" class="gn-icon  gn-icon-article" onclick = "changeColorX(this);" 
								onmouseover = "fondo(this);" onmouseout = "fondo2(this);">Modulo X</a></li>
								
								<li><a id="moduloY" class="gn-icon  gn-icon-article" onclick = "changeColorY(this);" 
								onmouseover = "fondo(this);" onmouseout = "fondo2(this);">Modulo Y</a></li>
								
								<li><a id="moduloZ" class="gn-icon  gn-icon-article" onclick = "changeColor(this);" 
								onmouseover = "fondo(this);" onmouseout = "fondo2(this);">Modulo Z</a></li>
							</ul>
						</div><!-- /gn-scroller -->
					</nav>
				</li>
				<li><a onclick = "muestraInstruccionesGral();" href="#tabs-1">Instrucciones Generales</a></li>
				<!-- <li><a href="#tabs-2">Entrevista</a></li> -->
				<li id="datosmini">Usuario: <%=datos[2]%></li>
				<li id="datosmini">Fecha: <%=datos[3]%></li>
			</ul>		
			<br><br><br>
	    	<div id="tabs-1" class="tabcontent">
		        <div id="contentPrimero">
					La M.I.N.I. es una entrevista diagnóstica estructurada de breve duración que explora los principales trastornos psiquiátricos del
					Eje I del DSM-IV y el ICD-10. Estudios de validez y de confiabilidad se han realizado comparando la M.I.N.I. con el SCID-P
					para el DSM-III-R y el CIDI (una entrevista estructurada desarrollada por la Organización Mundial de Salud para entrevistadores
					no clínicos para el ICD-10). Los resultados de estos estudios demuestran que la M.I.N.I. tiene un puntaje de validez y
					confiabilidad aceptablemente alto, pero puede ser administrado en un período de tiempo mucho mas breve (promedio de 18.7 ±
					11.6 minutos, media 15 minutos) que los instrumentos mencionados. Puede ser utilizada por clínicos luego de una breve sesión
					de entrenamiento. Entrevistadores no clínicos deben recibir un entrenamiento mas intenso. La M.I.N.I. Plus es una edición mas
					detallada de la M.I.N.I. Síntomas que sean mejor explicados por una causa médica o por el uso de alcohol o drogas no deberann
					de MARCAR se como positivos en la M.I.N.I.<br>				
				</div>
				<br>
				<h3><b>ENTREVISTA:</b></h3>
				<div id="headerDivImg">
					<div id="titleTextImg"><b>Clic en la imagen para mostrar/ocultar contenido</b><a id="imageDivLink" href="javascript:toggle1('contentDivImg', 'imageDivLink');"><img src="img/plus.png"></a></div>
				</div><br>
				<div id="contentDivImg">
					Para mantener la entrevista lo mas breve posible, informe al paciente que va a realizar una entrevista clínica que es mas
					estructurada de lo usual, en la cual se le van a hacer unas preguntas precisas sobre sus problemas psicológicos y las cuales
					requieren unas respuestas de sí o no.
				</div>
				<h3><b>PRESENTACIÓN:</b></h3>
				<div id="headerDivImg">
					<div id="titleTextImg"><b>Clic en la imagen para mostrar/ocultar contenido</b><a id="imageDivLink1" href="javascript:toggle2('contentDivImg1', 'imageDivLink1');"><img src="img/plus.png"></a></div>
				</div><br>
				<div id="contentDivImg1">
					La M.I.N.I. está dividida en módulos identificados por letras, cada una corresponde a una categoría diagnóstica.
					<br>•Al comienzo de cada módulo (con excepción del módulo de los trastornos psicóticos), se presentan en un recuadro
					gris, una o varias preguntas “filtro” correspondientes a los criterios diagnósticos principales del trastorno.
					<br>•Al final de cada módulo, una o varias casillas diagnósticas, permiten al clínico indicar si se cumplen los criterios
					diagnósticos.
				</div>
				<h3><b>CONVENIOS:</b></h3>
				<div id="headerDivImg">
					<div id="titleTextImg"><b>Clic en la imagen para mostrar/ocultar contenido</b><a id="imageDivLink2" href="javascript:toggle3('contentDivImg2', 'imageDivLink2');"><img src="img/plus.png"></a></div>
				</div><br>
				<div id="contentDivImg2">
					<i>Las oraciones escritas en</i> « letra normal » deben ser leidas “palabra por palabra” al paciente de modo a regularizar la evaluación
					de los criterios diagnósticos.<br><br>
					<i>Las oraciones escritas en</i> « MAYÚSCULAS » no deben de leerse al paciente. Estas son las instrucciones para asistir al
					entrevistador a calificar los algoritmos diagnósticos.<br><br>
					<i>Las oraciones escritas en</i> « negrita » indican el período de tiempo que se explora. El entrevistador debe leerlas tantas veces
					como sea necesario. Solo aquellos síntomas que ocurrieron durante el período de tiempo explorado, deben ser considerados al
					marcar las respuestas.<br><br>
					<i>Respuestas con una flecha encima</i> (➨) indican que no se cumple uno de los criterios necesarios para el diagnóstico. En este
					caso, el entrevistador debe pasar directamente al final del módulo, circular « NO » en todas las casillas diagnósticas y continuar
					con el siguiente módulo.<br><br>
					Cuando los términos estan separados por una <i>barra</i>(/) el entrevistador debe leer solo aquellos síntomas presentados por el
					paciente (por ejemplo, las preguntas, M20-M23).<br><br>
					<i>Frases en (paréntesis)</i> son ejemplos clínicos de los síntomas evaluados. Pueden leerse para aclarar la pregunta
				</div>
				<h3><b>INTRUCCIONES DE ANOTACIÓN:</b></h3>
				<div id="headerDivImg">
					<div id="titleTextImg"><b>Clic en la imagen para mostrar/ocultar contenido</b><a id="imageDivLink3" href="javascript:toggle4('contentDivImg3', 'imageDivLink3');"><img src="img/plus.png"></a></div>
				</div><br>
				<div id="contentDivImg3">
					Todas las preguntas deben ser mercadas. La anotación se hace a la derecha de la pregunta con un circulo SÍ o NO.<br><br>
					El clínico debe asegurarse que cada dimensión de la pregunta haya sido tomada en cuenta por el paciente (por ejemplo, período
					de tiempo, frecuencia, severidad, alternativas y/o).<br><br>
					<u>Los síntomas que son mejor explicados por una causa médica o por el uso de alcohol o drogas no deben marcarse sí, en la M.I.N.I.</u><br>
					La M.I.N.I. Plus tiene preguntas que explora estos problemas.
				</div>
				<br><br><br>
	    	</div>
		    <div id="tabs-2" class="tabcontent">
		    	<br>
	            <div class="panel panel-default">
	                <div class="panel-body">	                    
	                        <div class="jumbotron">
	                        	<!-- Modulo A -->
	                            <div id="tabs2">
	                                <ul class="tab">
	                                    <li id="moduloA"><a href="#tabsMod-1">Instrucciones del Modulo</a></li>
	                                    <li><a href="#tabsMod-2">Entrevista</a></li>
	                                </ul>
	                                <div id="tabsMod-1" class="tabcontent">
	                                    <br>
	                                    <label class="app-info app-login-title alert alert-danger">
	                                    (➨ SIGNIFICA: IR A LAS CASILLAS DIAGNÓSTICAS, CIRCULAR NO EN CADA UNA Y CONTINUAR CON EL SIGUIENTE MÓDULO)
	                                    </label>    
	                                    <label class="app-info app-login-title alert alert-warning">
	                                        PARA PACIENTES QUE PAREZCEN ESTAR PSICÓTICOS ANTES DE COMENZAR LA ENTREVISTA, O DE LOS QUE SE SOSPECHE QUE TENGAN ESQUIZOFRENIA, POR FAVOR SIGA EL SIGUIENTE ORDEN PARA ADMINISTRAR LOS MÓDULOS.
	                                    </label>
	                                    <label class="app-info alert alert-info">
	                                        1)  PARTE 1 DEL MÓDULO M (TRASTORNOS PSICÓTICOS M1–M18). <br>
	                                        2)  SECCIONES A-D (DEPRESIÓN A (HIPO)MANÍACO). <br>
	                                        3)  PARTE 2 MÓDULO M (TRASTORNOS PSICÓTICOS M19–M23). <br>
	                                        4)   TODOS LOS DEMÁS MÓDULOS EN LA SECUENCIA USUAL.
	                                     </label>
	                                     <label class="app-info app-login-title alert alert-warning">
	                                        SI EL MÓDULO M YA HA SIDO EXPLORADO Y HA IDENTIFICADO SÍNTOMAS PSICÓTICOS (M1 A M10B), EXAMINE CADA
											RESPUESTA POSITIVA A LAS SIGUIENTES PREGUNTAS SI LOS SÍNTOMAS DE DEPRESIÓN NO SON MEJOR EXPLICADOS POR
											LA PRESENCIA DE UN TRASTORNO PSICÓTICO Y CODIFIQUE DE ACUERDO.
	                                    </label>
	                                    <button id="start" href="#tabsMod-2" onclick = "muestraModulo('moduloA', 1);" class="btn btn-primary">Comenzar</button>
	                                </div>
	                                <div id="tabsMod-2" class="tabcontent">
	                                	<form role="form" method="post" action="/enviar_miniplus">
	                                    	<h1 class="app-desc app-login-title alert alert-success">Episodio Depresivo Mayor</h1>
	                                        <p>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                        </p>
	                                        <input type="hidden" name="fechaAplicacion" value="<%=datos[3]%>">
	                                        <input type="hidden" name="username" value="<%=datos[2]%>">
	                                        <input type="hidden" name="aplicador" value="<%=datos[1]%>">
	                                        <input type="hidden" name="test" value="<%=datos[0]%>">
											
											<%if(typeof(preguntas) != 'undefined'){%>
												<!--El for agrega las preguntas que estan en la base de datos-->
												<%for(i=0;i<preguntas.length;i++){%>
													<div class="form-group">
														<div class="form-group">
															<label for="" class="label-control">
																<%=preguntas[i].Pregunta%>
																<br>Aqui van las respuestas de la pregunta numero: <%=[i+1]%>
																
																	
															</label>
														</div>
													</div>
												<%}%>
											<%}%>
										
	                                        <div class="form-group">
	                                            <button class="btn btn-primary" type="submit">Enviar</button>
	                                        </div>
	                                    </form>
	                                </div>    
	                        	</div>
	                        	<!-- Modulo B -->
	                        	<div id="tabs3">
	                                <ul class="tab">
	                                    <li id="moduloB"><a href="#tabsMod-3">Instrucciones del Modulo</a></li>
	                                    <li><a href="#tabsMod-4">Entrevista</a></li>
	                                </ul>
	                                <div id="tabsMod-3" class="tabcontent">
	                                    <br>
	                                    <label class="app-info app-login-title alert alert-danger">
	                                    (➨ SIGNIFICA: IR A LA CASILLA DIAGNÓSTICA, CIRCULAR NO Y CONTINUAR CON EL SIGUIENTE MÓDULO)
	                                    </label>	                                
	                                    <label class="app-info alert alert-info">
	                                      Si en la actualidad los síntomas del paciente cumplen con los criterios para un episodio depresivo mayor, NO explore distimia
										actual, pero sí explore distimia en el PASADO. Asegúrese de que la distimia pasada explorada no es uno de los episodios de
										depresión mayor, y que ocurrió separada de cualquier episodio de depresión mayor por al menos dos meses de completa
										remisión. [APLIQUE ESTA REGLA SOLO SI ESTÁ INTERESADO EN EXPLORAR DEPRESIÓN DOBLE.]
	                                     </label>	                                    
	                                    <button id="start1" href="#tabsMod-4" onclick = "muestraModulo('moduloB', 1);" class="btn btn-primary">Comenzar</button>
	                                </div>
	                                <div id="tabsMod-4" class="tabcontent">
	                                	<form role="form" method="post" action="/enviar_miniplus">
	                                    	<h1 class="app-desc app-login-title alert alert-success">TRASTORNO DISTÍMICO</h1>
	                                        <p>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                        </p>
	                                        <input type="hidden" name="fechaAplicacion" value="<%=datos[3]%>">
	                                        <input type="hidden" name="username" value="<%=datos[2]%>">
	                                        <input type="hidden" name="aplicador" value="<%=datos[1]%>">
	                                        <input type="hidden" name="test" value="<%=datos[0]%>">
											
											<%if(typeof(preguntas) != 'undefined'){%>
												<!--El for agrega las preguntas que estan en la base de datos-->
												<%for(i=0;i<preguntas.length;i++){%>
													<div class="form-group">
														<div class="form-group">
															<label for="" class="label-control">
																<%=preguntas[i].Pregunta%>
																<br>Aqui van las respuestas de la pregunta numero: <%=[i+1]%>
																
																	
															</label>
														</div>
													</div>
												<%}%>
											<%}%>
										
	                                        <div class="form-group">
	                                            <button class="btn btn-primary" type="submit">Enviar</button>
	                                        </div>
	                                    </form>
	                                </div>    
	                        	</div>
	                        	<!-- Modulo C -->
	                        	<div id="tabs4">
	                                <ul class="tab">
	                                    <li><a id="moduloC" href="#tabsMod-5">Instrucciones del Modulo</a></li>
	                                    <li><a href="#tabsMod-6">Entrevista</a></li>
	                                </ul>
	                                <div id="tabsMod-5" class="tabcontent">
	                                    <br>
	                                    <label class="app-info app-login-title alert alert-danger">
	                                    	NO HAY INSTRUCCIONES PARA ESTE MÓDULO)
	                                    </label>                  
	                                    <br>                
	                                    <button id="start2" href="#tabsMod-6" onclick = "muestraModulo('moduloC', 1);" class="btn btn-primary">Comenzar</button>
	                                </div>
	                                <div id="tabsMod-6" class="tabcontent">
	                                	<form role="form" method="post" action="/enviar_miniplus">
	                                    	<h1 class="app-desc app-login-title alert alert-success">RIESGO DE SUICIDIO</h1>
	                                        <p>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                        </p>
	                                        <input type="hidden" name="fechaAplicacion" value="<%=datos[3]%>">
	                                        <input type="hidden" name="username" value="<%=datos[2]%>">
	                                        <input type="hidden" name="aplicador" value="<%=datos[1]%>">
	                                        <input type="hidden" name="test" value="<%=datos[0]%>">
											
											<%if(typeof(preguntas) != 'undefined'){%>
												<!--El for agrega las preguntas que estan en la base de datos-->
												<%for(i=0;i<preguntas.length;i++){%>
													<div class="form-group">
														<div class="form-group">
															<label for="" class="label-control">
																<%=preguntas[i].Pregunta%>
																<br>Aqui van las respuestas de la pregunta numero: <%=[i+1]%>
																
																	
															</label>
														</div>
													</div>
												<%}%>
											<%}%>
										
	                                        <div class="form-group">
	                                            <button class="btn btn-primary" type="submit">Enviar</button>
	                                        </div>
	                                    </form>
	                                </div>    
	                        	</div>
	                        	<!-- Modulo D -->
	                        	<div id="tabs5">
	                                <ul class="tab">
	                                    <li><a id="moduloD" href="#tabsMod-7">Instrucciones del Modulo</a></li>
	                                    <li><a href="#tabsMod-8">Entrevista</a></li>
	                                </ul>
	                                <div id="tabsMod-7" class="tabcontent">
	                                   <br>
	                                    <label class="app-info app-login-title alert alert-danger">
	                                    (➨ SIGNIFICA: IR A LAS CASILLAS DIAGNÓSTICAS, CIRCULAR NO EN CADA UNA Y CONTINUAR CON EL SIGUIENTE MÓDULO)
	                                    </label>    
	                                    <label class="app-info app-login-title alert alert-warning">
	                                       PARA PACIENTES QUE PARECEN ESTAR PSICÓTICOS ANTES DE COMENZAR LA ENTREVISTA, O DE LOS QUE SE SOSPECHE QUE TENGAN
										   ESQUIZOFRENIA, POR FAVOR SIGA EL SIGUIENTE ORDEN PARA ADMINISTRAR LOS MÓDULOS.
	                                    </label>
	                                    <label class="app-info alert alert-info">
	                                        1)  PARTE 1 DEL MÓDULO M (TRASTORNOS PSICÓTICOS M1–M18). <br>
	                                        2)  SECCIONES A-D (DEPRESIÓN A (HIPO)MANÍACO). <br>
	                                        3)  PARTE 2 MÓDULO M (TRASTORNOS PSICÓTICOS M19–M23). <br>
	                                        4)   TODOS LOS DEMÁS MÓDULOS EN LA SECUENCIA USUAL.
	                                     </label>
	                                     <label class="app-info app-login-title alert alert-warning">
	                                        SI EL MÓDULO M YA HA SIDO EXPLORADO Y HA IDENTIFICADO SÍNTOMAS PSICÓTICOS (M1 A M10B), EXAMINE CADA
											RESPUESTA POSITIVA A LAS SIGUIENTES PREGUNTAS SI LOS SÍNTOMAS (HIPO)MANÍACOS NO SON MEJOR EXPLICADOS
											POR LA PRESENCIA DE UN TRASTORNO PSICÓTICO Y MARQUE DE ACUERDO.
	                                    </label>
	                                    <button id="start3" href="#tabsMod-8" onclick = "muestraModulo('moduloD', 1);" class="btn btn-primary">Comenzar</button>
	                                </div>
	                                <div id="tabsMod-8" class="tabcontent">
	                                	<form role="form" method="post" action="/enviar_miniplus">
	                                    	<h1 class="app-desc app-login-title alert alert-success">EPISODIO (HIPO)MANÍACO</h1>
	                                        <p>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                        </p>
	                                        <input type="hidden" name="fechaAplicacion" value="<%=datos[3]%>">
	                                        <input type="hidden" name="username" value="<%=datos[2]%>">
	                                        <input type="hidden" name="aplicador" value="<%=datos[1]%>">
	                                        <input type="hidden" name="test" value="<%=datos[0]%>">
											
											<%if(typeof(preguntas) != 'undefined'){%>
												<!--El for agrega las preguntas que estan en la base de datos-->
												<%for(i=0;i<preguntas.length;i++){%>
													<div class="form-group">
														<div class="form-group">
															<label for="" class="label-control">
																<%=preguntas[i].Pregunta%>
																<br>Aqui van las respuestas de la pregunta numero: <%=[i+1]%>
																
																	
															</label>
														</div>
													</div>
												<%}%>
											<%}%>
										
	                                        <div class="form-group">
	                                            <button class="btn btn-primary" type="submit">Enviar</button>
	                                        </div>
	                                    </form>
	                                </div>    
	                        	</div>
	                        	<!-- Modulo E -->
	                        	<div id="tabs6">
	                                <ul class="tab">
	                                    <li><a id="moduloE" href="#tabsMod-9">Instrucciones del Modulo</a></li>
	                                    <li><a href="#tabsMod-10">Entrevista</a></li>
	                                </ul>
	                                <div id="tabsMod-9" class="tabcontent">
	                                   <br>
	                                    <label class="app-info app-login-title alert alert-danger">
										(➨ SIGNIFICA: PASAR A E6, E7 Y E8, CIRCULAR NO EN TODAS Y CONTINUAR CON EL SIGUIENTE MÓDULO)
	                                    </label>    
	                                  	<br>
	                                    <button id="start4" href="#tabsMod-10" onclick = "muestraModulo('moduloE', 1);" class="btn btn-primary">Comenzar</button>
	                                </div>
	                                <div id="tabsMod-10" class="tabcontent">
	                                	<form role="form" method="post" action="/enviar_miniplus">
	                                    	<h1 class="app-desc app-login-title alert alert-success">TRASTORNO DE ANGUSTIA</h1>
	                                        <p>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                        </p>
	                                        <input type="hidden" name="fechaAplicacion" value="<%=datos[3]%>">
	                                        <input type="hidden" name="username" value="<%=datos[2]%>">
	                                        <input type="hidden" name="aplicador" value="<%=datos[1]%>">
	                                        <input type="hidden" name="test" value="<%=datos[0]%>">
											
											<%if(typeof(preguntas) != 'undefined'){%>
												<!--El for agrega las preguntas que estan en la base de datos-->
												<%for(i=0;i<preguntas.length;i++){%>
													<div class="form-group">
														<div class="form-group">
															<label for="" class="label-control">
																<%=preguntas[i].Pregunta%>
																<br>Aqui van las respuestas de la pregunta numero: <%=[i+1]%>
																
																	
															</label>
														</div>
													</div>
												<%}%>
											<%}%>
										
	                                        <div class="form-group">
	                                            <button class="btn btn-primary" type="submit">Enviar</button>
	                                        </div>
	                                    </form>
	                                </div>    
	                        	</div>
	                        	<!-- Modulo F -->
	                        	<div id="tabs7">
	                                <ul class="tab">
	                                    <li><a id="moduloF" href="#tabsMod-11">Instrucciones del Modulo</a></li>
	                                    <li><a href="#tabsMod-12">Entrevista</a></li>
	                                </ul>
	                                <div id="tabsMod-11" class="tabcontent">
	                                   <br>
	                                    <label class="app-info app-login-title alert alert-danger">
											NO HAY INSTRUCCIONES PARA ESTE MODULO
	                                    </label>    
	                                  	<br>
	                                    <button id="start5" href="#tabsMod-12" onclick = "muestraModulo('moduloF', 1);" class="btn btn-primary">Comenzar</button>
	                                </div>
	                                <div id="tabsMod-12" class="tabcontent">
	                                	<form role="form" method="post" action="/enviar_miniplus">
	                                    	<h1 class="app-desc app-login-title alert alert-success">AGORAFOBIA</h1>
	                                        <p>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                        </p>
	                                        <input type="hidden" name="fechaAplicacion" value="<%=datos[3]%>">
	                                        <input type="hidden" name="username" value="<%=datos[2]%>">
	                                        <input type="hidden" name="aplicador" value="<%=datos[1]%>">
	                                        <input type="hidden" name="test" value="<%=datos[0]%>">
											
											<%if(typeof(preguntas) != 'undefined'){%>
												<!--El for agrega las preguntas que estan en la base de datos-->
												<%for(i=0;i<preguntas.length;i++){%>
													<div class="form-group">
														<div class="form-group">
															<label for="" class="label-control">
																<%=preguntas[i].Pregunta%>
																<br>Aqui van las respuestas de la pregunta numero: <%=[i+1]%>
																
																	
															</label>
														</div>
													</div>
												<%}%>
											<%}%>
										
	                                        <div class="form-group">
	                                            <button class="btn btn-primary" type="submit">Enviar</button>
	                                        </div>
	                                    </form>
	                                </div>    
	                        	</div>
	                        	<!-- Modulo G -->
	                        	<div id="tabs8">
	                                <ul class="tab">
	                                    <li><a id="moduloG" href="#tabsMod-13">Instrucciones del Modulo</a></li>
	                                    <li><a href="#tabsMod-14">Entrevista</a></li>
	                                </ul>
	                                <div id="tabsMod-13" class="tabcontent">
	                                   <br>
	                                    <label class="app-info app-login-title alert alert-danger">
											(➨ SIGNIFICA: IR A LAS CASILLA DIAGNÓSTICA, CIRCULAR NO Y CONTINUAR CON EL SIGUIENTE MÓDULO)
	                                    </label>    
	                                  	<br>
	                                    <button id="start6" href="#tabsMod-14" onclick = "muestraModulo('moduloG', 1);" class="btn btn-primary">Comenzar</button>
	                                </div>
	                                <div id="tabsMod-14" class="tabcontent">
	                                	<form role="form" method="post" action="/enviar_miniplus">
	                                    	<h1 class="app-desc app-login-title alert alert-success">FOBIA SOCIAL</h1>
	                                        <p>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                        </p>
	                                        <input type="hidden" name="fechaAplicacion" value="<%=datos[3]%>">
	                                        <input type="hidden" name="username" value="<%=datos[2]%>">
	                                        <input type="hidden" name="aplicador" value="<%=datos[1]%>">
	                                        <input type="hidden" name="test" value="<%=datos[0]%>">
											
											<%if(typeof(preguntas) != 'undefined'){%>
												<!--El for agrega las preguntas que estan en la base de datos-->
												<%for(i=0;i<preguntas.length;i++){%>
													<div class="form-group">
														<div class="form-group">
															<label for="" class="label-control">
																<%=preguntas[i].Pregunta%>
																<br>Aqui van las respuestas de la pregunta numero: <%=[i+1]%>
																
																	
															</label>
														</div>
													</div>
												<%}%>
											<%}%>
										
	                                        <div class="form-group">
	                                            <button class="btn btn-primary" type="submit">Enviar</button>
	                                        </div>
	                                    </form>
	                                </div>    
	                        	</div>
	                        	<!-- Modulo H -->
	                        	<div id="tabs9">
	                                <ul class="tab">
	                                    <li><a id="moduloH" href="#tabsMod-15">Instrucciones del Modulo</a></li>
	                                    <li><a href="#tabsMod-16">Entrevista</a></li>
	                                </ul>
	                                <div id="tabsMod-15" class="tabcontent">
	                                   <br>
	                                    <label class="app-info app-login-title alert alert-danger">
											(➨ SIGNIFICA: IR A LA CASILLA DIAGNÓSTICA, CIRCULAR NO Y CONTINUAR CON EL SIGUIENTE MÓDULO)
	                                    </label>    
	                                  	<br>
	                                    <button id="start7" href="#tabsMod-16" onclick = "muestraModulo('moduloH', 1);" class="btn btn-primary">Comenzar</button>
	                                </div>
	                                <div id="tabsMod-16" class="tabcontent">
	                                	<form role="form" method="post" action="/enviar_miniplus">
	                                    	<h1 class="app-desc app-login-title alert alert-success">FOBIA ESPECÍFICA</h1>
	                                        <p>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                            Hola! Aqui debe de ir una explicación acerca de este test con sus modulos<br>
	                                        </p>
	                                        <input type="hidden" name="fechaAplicacion" value="<%=datos[3]%>">
	                                        <input type="hidden" name="username" value="<%=datos[2]%>">
	                                        <input type="hidden" name="aplicador" value="<%=datos[1]%>">
	                                        <input type="hidden" name="test" value="<%=datos[0]%>">
											
											<%if(typeof(preguntas) != 'undefined'){%>
												<!--El for agrega las preguntas que estan en la base de datos-->
												<%for(i=0;i<preguntas.length;i++){%>
													<div class="form-group">
														<div class="form-group">
															<label for="" class="label-control">
																<%=preguntas[i].Pregunta%>
																<br>Aqui van las respuestas de la pregunta numero: <%=[i+1]%>
																
																	
															</label>
														</div>
													</div>
												<%}%>
											<%}%>
										
	                                        <div class="form-group">
	                                            <button class="btn btn-primary" type="submit">Enviar</button>
	                                        </div>
	                                    </form>
	                                </div>    
	                        	</div>
	                        <!--jumbotron-->
	                        </div>	                   
	                <!--panel-body-->
	                </div>
	            <!--Panel-default-->
	            </div>
		    <!--Tabs2-->
		    </div>
		</div>    
	    <script>
	        window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
	    </script>
	    <script src="js/vendor/bootstrap.min.js"></script>
	    <script src="js/main.js"></script>
	    <script src="js/classie.js"></script>
		<script src="js/gnmenu.js"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
	</body>
</html>