<!DOCTYPE html>
<html>
	<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
	<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
	<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
	<!--[if gt IE 8]><!-->
	<html class="no-js" lang="">
	<!--<![endif]-->
	<head>
	    <% include partials/head.ejs %>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	    <script type="text/javascript" src="js/jQueryMain.js"></script>
	    <script src="js/vendor/jquery.validate.js"></script>
    	<script src="js/vendor/additional-methods.js"></script>
    	<script type="text/javascript" src="js/validator.js"></script>
		<script type="text/javascript">
				
		</script>
		
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/modernizr.custom.js"></script>
		<link rel="shortcut icon" href="../favicon.ico"> 
	</head>

	<body>
	    <!--[if lt IE 8]>
	            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	            <![endif]-->
	    <input type="hidden" name="modulos" id="modulos" value="<%=modulos%>">
	    <input type="hidden" name="letraMod" id="letraMod">
	    <input type="hidden" name="nombreModulo" id="nombreModulo" value="">
		<div id="tabs">	
			<% include partials/minimenu.ejs %>
			<br><br><br>
	    	<div id="tabs-1" class="tabcontent">
	    		<div id="generales">
					<div id="contentPrimero"></div>
					<br>
					<h3><b>ENTREVISTA:</b></h3>
					<div id="headerDivImg">
						<div id="titleTextImg"><b>Clic en la imagen para mostrar/ocultar contenido</b><a id="imageDivLink" href="javascript:toggle1('contentDivImg', 'imageDivLink');"><img src="img/plus.png"></a></div>
					</div><br>
					<div id="contentDivImg"></div>
					<h3><b>PRESENTACIÓN:</b></h3>
					<div id="headerDivImg">
						<div id="titleTextImg"><b>Clic en la imagen para mostrar/ocultar contenido</b><a id="imageDivLink1" href="javascript:toggle2('contentDivImg1', 'imageDivLink1');"><img src="img/plus.png"></a></div>
					</div><br>
					<div id="contentDivImg1"></div>
					<h3><b>CONVENIOS:</b></h3>
					<div id="headerDivImg">
						<div id="titleTextImg"><b>Clic en la imagen para mostrar/ocultar contenido</b><a id="imageDivLink2" href="javascript:toggle3('contentDivImg2', 'imageDivLink2');"><img src="img/plus.png"></a></div>
					</div><br>
					<div id="contentDivImg2"></div>
					<h3><b>INTRUCCIONES DE ANOTACIÓN:</b></h3>
					<div id="headerDivImg">
						<div id="titleTextImg"><b>Clic en la imagen para mostrar/ocultar contenido</b><a id="imageDivLink3" href="javascript:toggle4('contentDivImg3', 'imageDivLink3');"><img src="img/plus.png"></a></div>
					</div><br>
					<div id="contentDivImg3"></div>
					<br><br><br>
				</div>
	    	</div>
		    <div id="tabs-2" class="tabcontent">
		    	<br>
		    	<div class="container">
		            <div class="panel panel-default">
		                <div class="panel-body">	                    
		                        <div class="jumbotron">
		                        <h1 class="app-desc app-login-title alert alert-success"><span id="areaNombre"></span></h1>
		                            <div id="tabs2">
		                                <ul class="tab">
		                                    <li id="InstruccionesTab"><a href="#tabsMod-1">Instrucciones del Modulo</a></li>
		                                    <li id="PreguntasTab" hidden="true"><a href="#tabsMod-2"">Entrevista</a></li>
		                                </ul>
		                                <div id="tabsMod-1" class="tabcontent">
		                                    <br>
		                                    <div id="instMod"></div>
		                                    <button id="start" class="btn btn-primary">Comenzar</button>
		                                </div>
		                                <div id="tabsMod-2" class="tabcontent">
		                                	<div class="form-group">
												<div class="form-group">
													<br>
													<label id="area" class="label-control"></label>
													<br>
													<form id="botones">
														<input type="radio" name="respuesta" id="verdadero" value="1">
														<label class="label-control">Si</label><br>
														<input type="radio" name="respuesta" id="Falso" value="0">
														<label class="label-control">No</label><br><br>
														<button class="btn btn-primary" id="siguiente">Siguiente</button>
													</form>
													<br>
													<form id="datos">
														<input type="hidden" id="fecha" name="fechaAplicacion" value="<%=datos[3]%>">
		                                        		<input type="hidden" id="usuario" name="username" value="<%=datos[2]%>">
		                                        		<input type="hidden" id="aplicador" name="aplicador" value="<%=datos[1]%>">
		                                        		<input type="hidden" id="test" name="test" value="<%=datos[0]%>">
														
														<input type="hidden" name="pregunta" id="pregunta">
													</form>
												</div>
											</div>
	                                	</div>    
		                        	</div>
		                        <!--jumbotron-->
		                        </div>	                   
		                <!--panel-body-->
		                </div>
		            <!--Panel-default-->
		            </div>
	            </div>
		    <!--Tabs2-->
		    </div>
		</div>    
	    <script>
	        window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
	    </script>
	    <script src="js/vendor/bootstrap.min.js"></script>
	    <script src="js/main.js"></script>
	    <script src="js/classie.js"></script>
		<script src="js/gnmenu.js"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
	</body>
</html>